.Footer {
    width: 100%;
    position: relative;
    bottom: 0;
    background-color: #001689;
    color: #fff;
    padding: 15vh 0 5vh;
    border-top-left-radius: 125px;
    font-size: xx-large;
    line-height: 5vh;
    margin-top: 10vh;
}

 